.table-main{
  padding-bottom: 20px;
}
.mysearch{
  margin-top: 20px;
  margin-bottom: 10px;
  input{
    margin-right: 5px;
    padding-left: 25px;
  }
  .search-input{
    position: relative;
    span{
      position: absolute;
      left: 6px;
      top: 7px;
      font-size: 15px;
    }
  }
}

