@import '../../../sass/conf/conf';
.customerselect{
  position: relative;
  input{
    padding-left: 45px;
  }
  span{
    display: inline-block;
    width: 40px;
    height: 25px;
    line-height: 25px;
    padding-left: 5px;
    background: $bootstrap-panel-text;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.modal.customer_search-content{
  padding-top: 100px;
  .customer_search{
    margin-bottom: 10px;
  }
  .modal-footer{
    padding-top: 0;
  }
}
