<div class="content">
  <div class="process">
    <div class="process-start process-item p-done">
      <div class="process-name">未付款</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-8 <br/>
          05:08:45
        </p>
      </div>
    </div>
    <div class="process-item p-done">
      <div class="process-name">待财审</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:12:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-item p-done">
      <div class="process-name">已付全款/部分款</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-item">
      <div class="process-name">待采购确认</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-branch">
      <div class="branch">
        <div class="process-item">
          <div class="process-name">确认/有误</div>
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
        <div class="process-item">
          <div class="process-name">可出库</div>
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
      </div>
      <div class="branch">
        <div class="process-item">
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
        <div class="process-item">
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
      </div>
    </div>
    <div class="process-item">
      <div class="process-name">已领料</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-item">
      <div class="process-name">待销售确认</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-branch">
      <div class="branch">
        <div class="process-item">
          <div class="process-name">销售已确认</div>
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
      </div>
      <div class="branch">
        <div class="process-item">
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
      </div>
      <div class="branch">
        <div class="process-item">
          <div class="process-info">
            <p>paull</p>
            <p>
              2016-12-9 <br/>
              05:18:45
            </p>
          </div>
          <div class="process-timeline">2500m</div>
        </div>
      </div>
    </div>
    <div class="process-item">
      <div class="process-name">已发货</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-item">
      <div class="process-name">已收货</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
    <div class="process-item">
      <div class="process-name">已完成</div>
      <div class="process-info">
        <p>paull</p>
        <p>
          2016-12-9 <br/>
          05:18:45
        </p>
      </div>
      <div class="process-timeline">2500m</div>
    </div>
  </div>
</div>
