<div class="actionbar">
  <ng-content></ng-content>
  <div class="btnitem" *ngIf="actionConfig.showbtn.open">
    <button type="button"  class="available" (click)="goDetail()" [disabled]="!actionsData" [ngClass]="{'active':isopend}">
      <i class="iconfont icon-dakai"></i><span>打开</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.add">
    <button type="button"  class="available" (click)="addClick($event)">
      <i class="iconfont icon-xinzeng"></i><span>新建</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.check" >
    <button type="button"  class="available" (click)="chowcheck()" [disabled]="!actionsData">
      <i class="iconfont icon-shenhe"></i><span>审核</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.report" >
    <button type="button"  class="available" [disabled]="!actionsData">
      <i class="iconfont icon-baobiao"></i><span>销售报表</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.edit">
    <button type="button"  class="available" (click)="editClick($event)" [disabled]="!actionsData">
      <i class="iconfont icon-bianji"></i><span>编辑</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.save">
    <button type="button"  class="available" (click)="saveEmit()" [disabled]="!actionsData">
      <i class="iconfont icon-baocun"></i><span>保存</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.action">
    <button type="button" class="available" id="action-more" data-toggle="dropdown" aria-expanded="false" [disabled]="!actionsData">
      <i class="iconfont icon-caozuo"></i><span>操作 <i class="iconfont icon-jiantou"></i></span>
    </button>
    <div class="btnmore" aria-labelledby="action-more">
      <ul  *ngIf="operat">
        <li *ngIf="operat.empty"><button>(无)</button></li>
        <li *ngIf="operat.toship"><button class="available" (click)="toshipclick()">生成出运安排</button></li>
        <li *ngIf="operat.orderdemand"><button class="available" (click)="orderdemandclick()">生成订单要求</button></li>
        <li *ngIf="operat.supaudit"><button class="available" (click)="supauditclick()">请主管审核</button></li>
        <li *ngIf="operat.financeaudit"><button class="available" (click)="financeauditclick()">请财务审核</button></li>
        <li *ngIf="operat.procurement"><button class="available" (click)="procurementauditclick()">请采购审核</button></li>
        <li *ngIf="operat.toshipment"><button class="available" (click)="toshipmentclick()">请货运发货</button></li>
        <li *ngIf="operat.cusrecive"><button class="available" (click)="cusreciveclick()">客户已收货</button></li>
        <li *ngIf="operat.procurementcheck"><button class="available" (click)="procurementcheckclick()">请采购核销</button></li>
        <li *ngIf="operat.isdone"><button class="available" (click)="isdoneclick()">已完成</button></li>
      </ul>
    </div>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.export">
    <button type="button" class="available" id="export-more" data-toggle="dropdown" aria-expanded="false" [disabled]="!actionsData">
      <i class="iconfont icon-daochu"></i><span>导出 <i class="iconfont icon-jiantou"></i></span>
    </button>
    <div class="btnmore" aria-labelledby="export-more">
      <ul>
        <li><button class="available" (click)="checkoutExcel()">导出Excel</button></li>
        <li><button class="available" (click)="checkoutPdf()">导出PDF</button></li>
      </ul>
    </div>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.annex" >
    <button type="button"  class="available" (click)="showAnnexes()" [disabled]="!actionsData">
      <i class="iconfont icon-fujian"></i><span>附件</span><i *ngIf="actionsData">({{annexeslength}})</i>
    </button>
    <annexes #annexesdialog *ngIf="actionsData" [data]="actionsData" [idname]="actionConfig.idname"></annexes>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.new">
    <button type="button" class="available" (click)="fileinput.click()" [disabled]="!actionsData">
      <input type="file" hidden="true" #fileinput (change)="uploadfileEmit($event)">
      <i class="iconfont icon-tianjia"></i><span>添加</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.delete">
    <button type="button"  class="available" (click)="deleteEmit()" [disabled]="!actionsData">
      <i class="iconfont icon-shanchu"></i><span>删除</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.download">
    <button type="button"  class="available" (click)="downloadEmit()" [disabled]="!actionsData">
      <i class="iconfont icon-xiazai-copy"></i><span>下载</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.checkpayment">
    <button type="button"  class="available"  [disabled]="!actionsData">
      <i class="iconfont icon-xiazai-copy"></i><span>提醒查款</span>
    </button>
  </div>
  <div class="btnitem" *ngIf="actionConfig.showbtn.close">
    <button type="button"  class="available" (click)="close()" [disabled]="!actionsData">
      <i class="iconfont icon-guanbishanchu"></i><span>返回</span>
    </button>
  </div>
  <ng-content></ng-content>
</div>

<!--操作按钮弹窗-->
<!-- control modal from parent component -->
<div bsModal #textdialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="textdialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{dialogtext.text}}弹窗</h4>
      </div>
      <div class="modal-body" *ngIf="!(dialogtext.operat=='procurementcheckEmit')">
        确定“{{dialogtext.text}}”吗？
      </div>
      <div class="modal-bidy inputdialog" *ngIf="dialogtext.operat=='procurementcheckEmit'">
        <div class="ng-form-group row">
          <label class="col-sm-4 ng-form-control-label">测试结果</label>
          <div class="col-sm-8">
            <input type="text" class="ng-form-control"  [(ngModel)]="dialogtext.data.result" name="result">
          </div>
        </div>
        <div class="ng-form-group row">
          <label class="col-sm-4 ng-form-control-label">测试详情</label>
          <div class="col-sm-8">
            <textarea type="text" class="ng-form-control"  [(ngModel)]="dialogtext.data.description" name="description"></textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="dialogtext.operat=='supauditEmit'" class="btn btn-primary confirm-btn" (click)="supauditEmit(true)">是</button>
        <button *ngIf="dialogtext.operat=='financeauditEmit'" class="btn btn-primary confirm-btn" (click)="financeauditEmit(true)">是</button>
        <button *ngIf="dialogtext.operat=='procurementauditEmit'" class="btn btn-primary confirm-btn" (click)="procurementauditEmit(true)">是</button>
        <button *ngIf="dialogtext.operat=='toshipmentEmit'" class="btn btn-primary confirm-btn" (click)="toshipmentEmit(true)">是</button>
        <button *ngIf="dialogtext.operat=='cusreciveEmit'" class="btn btn-primary confirm-btn" (click)="cusreciveEmit(true)">是</button>
        <button *ngIf="dialogtext.operat=='isdoneEmit'" class="btn btn-primary confirm-btn" (click)="isdoneEmit(true)">是</button>
        <button *ngIf="!(dialogtext.operat=='procurementcheckEmit')" class="btn btn-primary confirm-btn" (click)="textdialog.hide()">否</button>
        <!--输入框弹窗-->
        <button *ngIf="dialogtext.operat=='procurementcheckEmit'" class="btn btn-primary confirm-btn" [disabled]="!(dialogtext.data.result&&dialogtext.data.description)" (click)="procurementcheckEmit()">提交</button>
        <button *ngIf="dialogtext.operat=='procurementcheckEmit'" class="btn btn-primary confirm-btn" (click)="textdialog.hide()">取消</button>
      </div>
    </div>
  </div>
</div>

<!--审核按钮弹窗-->
<div bsModal #checkdialog="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="checkdialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">审核弹窗</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6 text-center">
            <label class="radio-inline custom-radio nowrap">
              <input name="check" type="radio" (change)="checkChange(true)">
              <span>同意</span>
            </label>
          </div>
          <div class="col-md-6 text-center">
            <label class="radio-inline custom-radio nowrap">
              <input name="check" type="radio" (change)="checkChange(false)">
              <span>不同意</span>
            </label>
          </div>
          <div class="col-md-12 reason" *ngIf="isrefuse">
            <input type="text" class="ng-form-control"  name="reason" [(ngModel)]="reason" placeholder="请说明原因">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="checkEmit()" [disabled]="isrefuse==null">提交</button>
        <button class="btn btn-primary confirm-btn" (click)="checkdialog.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
