.sample{
  .other_input{
    height: 20px;
    line-height: 20px;
    border: none;
    border-bottom: 1px solid #000;
    z-index: 1 !important;
    opacity: 1;
    margin: 2px 0 0 2px;
    width: 100px;
    outline: none;
    position: initial;
  }
  .other_input[disabled]{
    border-bottom: none;
  }

  .cus{
    margin-right: 10px;
  }
  .options{
    padding-left: 20px;
  }

  label.custom-radio > input + span{
    width: auto;
    color: #333;
  }

  table{
    width: 100%;
    td{
      padding: 0 20px;
    }
  }
}


