<div class="customerselect">
  <input type="text" class="customerinput ng-form-control" (focus)="supplierDialog.show()" value="{{selectProcurementTest?.name}}">
  <span>{{selectProcurementTest?.procurement_supplier_id}}</span>
</div>

<div bsModal #supplierDialog="bs-modal" class="modal fade customer_search-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="supplierDialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">供应商档案</h4>
      </div>
      
    </div>
  </div>
</div>

