<div class="btnitem" *ngIf="config.taskProgress">
  <button type="button" class="available" (click)="chowcheck()" [disabled]="!object">
    <i class="iconfont icon-shenhe"></i><span>更新进度</span>
  </button>
</div>

<!--弹窗-->
<div bsModal #checkdialog="bs-modal" class="modal fade task_progress_content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close" aria-label="Close" (click)="checkdialog.hide()">
          <span aria-hidden="true">&times;</span>
        </span>
        <h4 class="modal-title">任务进度</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <p>进度描述</p>
            <ng2-ueditor [(ngModel)]="user_statu.description" name="description" [setting]="setting"></ng2-ueditor>
          </div>
          <div class="col-md-12" *ngIf="object">
            <p style="margin-top: 10px">事项状态</p>
            <div>
              <span *ngFor="let task_status of show_task_statuses" class="col-md-2">
                <label class="radio-inline custom-radio nowrap">
                  <input type="radio" name="task_status" value="{{task_status?.task_status_id}}" (change)="user_statu.task_status_id=task_status.task_status_id">
                  <span>{{task_status?.name}}</span>
                </label>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="postProgress()" [disabled]="!user_statu.task_status_id">提交</button>
        <button class="btn btn-primary confirm-btn" (click)="checkdialog.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
