.search-input{
  position: relative;
  input{
    margin-right: 5px;
    padding-left: 25px;
    width: 180px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
  }
  span{
    position: absolute;
    left: 5px;
    top: 6px;
    font-size: 15px;
  }
  button{
    vertical-align: top;
  }
}
