.actionbar{
  button{
    background: none;
    border: none;
    color: #fff;
    outline:0;
    display: inline-block;
    font-weight: normal;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
  }
  .available:hover{
    color: #00AAAA;
  }
  .active{
    color: #00AAAA;
  }
  button:disabled{
    cursor: not-allowed;
    opacity: .65;
  }
  i{
    font-size: 25px;
  }
  span{
    display: block;
    width: 3.5rem;
    margin-top: 3px;
  }
}
