@import '../../sass/conf/conf';
.actionbar{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #eeeeee;
  font-size: 0;
  button{
    background: none;
    border: 1px solid #cccccc;
    color: $default-text;
    outline:0;
    display: inline-block;
    font-weight: normal;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 80px;
    padding: 0;
  }
  .available:hover{
    background: #eeeeee;
  }
  .active{
    background: #eeeeee;
  }
  button:disabled{
    cursor: not-allowed;
    color: $disable-text;
  }
  i{
    font-size: 15px;
    margin-right: 5px;
  }
  span{
    margin-top: 3px;
  }
}
