<div bsModal #dialog="bs-modal" class="modal fade customer_search-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="dialog.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">商品档案</h4>
      </div>
      <div class="modal-body">
        <div class="productselect-content clearfix">
          <div class="pull-left treecontent" *ngIf="productnodes.length>0">
            <tree-root
              [nodes]="productnodes"
              [options]="customTemplateStringOptions"
              (onActivate)="onchanged($event)"
            >
              <template #treeNodeTemplate let-node="node" let-index="index">
                <span>{{ node.data.name }}</span>
              </template>
            </tree-root>
          </div>
          <div class="pull-right productconent" *ngIf="productdata">
            <div class="product_search">
              <ng-search (searchtext)="search($event)"></ng-search>
            </div>
            <ag-grid-angular #selectedrow style="width: 100%; height: 350px;" class="ag-fresh"

            [columnDefs]="columnDefs"
            [rowData]="productdata"
            enableColResize
            enableSorting
            enableFilter
            groupHeaders
            (rowSelected)="onRowSelected($event)"

            rowHeight="22"
            rowSelection="multiple"
            ></ag-grid-angular>
            <pages-button [paginate]="pageconfig" (pageClick)="pageClick($event)"></pages-button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="addproduct()" [disabled]="!selecteddata">确定</button>
        <button class="btn btn-primary confirm-btn" (click)="dialog.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
