.table-main {
  padding-bottom: 20px;
}

.productselect-content{
  .treecontent{
    width: 20%;
    padding-right: 10px;
    border-right: 1px solid #eeeeee;
    height: 600px;
  }
  .productconent{
    padding-left: 10px;
    width: 80%;
  }
  .product_search{
    margin-top: 20px;
    margin-bottom: 10px;
  }
}


