.detailcontent{
  height: 49rem;
}
.opendetail{
  margin: 15px 0;
  width: 800px;
  min-height: 48rem;
  padding: 40px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  position: relative;
  h1.title{
    font-size: 24px;
    margin-bottom: 20px;
    padding-right: 20px;
    position: relative;
  }
}
.task_progress table{
  width: 100%;
  margin-bottom: 10px;
  tr{
    height: 25px;
    line-height: 25px;
    border-bottom: 1px dashed #ddd;
  }
  th,td{
    padding: 0 10px;
  }
  th{
    font-weight: bold;
  }
  p{
    margin-bottom: 0px;
  }
}
