<div class="row">
  <bar-common-action-bar [config]="actionConfig" [object]="selectedrowData" (objectChange)="objectChange($event)">
  </bar-common-action-bar>
</div>
<div class="row">
  <ba-card baCardClass="with-scroll">
    <div class="row">
      <div class="col-md-12 col-xs-12 table-main">
        <div class="mysearch">
          <ng-search [placeholder]="''" (searchtext)="search($event)"></ng-search>
        </div>
        <ag-grid-angular #agGrid style="width: 100%; height: 400px;" class="ag-fresh"
                         [gridOptions]="gridOptions"
                         [columnDefs]="columnDefs"
                         [rowData]="rowData"
                         (rowSelected)="onRowSelected($event)"
                         enableColResize
                         enableSorting
                         enableFilter
                         groupHeaders
                         rowHeight="22"
                         rowSelection="multiple"
                         (cellDoubleClicked)="onCellDoubleClicked($event)"
        ></ag-grid-angular>
        <pages-button [paginate]="paginate" (pageClick)="pageClick($event)"></pages-button>
      </div>
    </div>
  </ba-card>
</div>
<div class="row">
        <div class="col-md-12 col-xs-12" *ngIf="selectedrowData">
            <ng2-tab selected="sale-list"
                     selected-contents-class="fadeIn animated"
                     selected-index-class="selected">
                <div class="tabs">
                    <div index="sale-list">销售记录</div>
                    <div index="procurement-list">采购记录</div>
                </div>
                <div class="tab-contents">
                    <div contents="sale-list">
                        <ag-grid-angular #selectedrow style="width: 100%; height: 180px;" class="ag-fresh"
                            [columnDefs]="selectedColumnSaleDefs"
                            [rowData]="selectedrowData.product.order_products"
                            enableColResize
                            enableSorting
                            enableFilter
                            groupHeaders
                            rowHeight="22"
                            rowSelection="multiple"
                            ></ag-grid-angular>
                    </div>
                    <div contents="procurement-list">
                        <ag-grid-angular #selectedrow style="width: 100%; height: 180px;" class="ag-fresh"
                            [columnDefs]="selectedColumnProcurementDefs"
                            [rowData]="selectedrowData.product.procurement_products"
                            enableColResize
                            enableSorting
                            enableFilter
                            groupHeaders
                            rowHeight="22"
                            rowSelection="multiple"
                            ></ag-grid-angular>
                    </div>
                </div>
            </ng2-tab>
        </div>
    </div>
