.ui-messages {
  border: 1px solid;
  padding: 1em 1em 1em .5em;
  display: none;
  position: relative;

  border: 1px solid;
  width: 30rem;
  margin: 18rem auto 0 auto;
  padding: 1rem;
}

.ui-messages-icon {
  position: absolute;
  display: inline-block;
  left: .18em;
  top: .5em;
  padding: 0;
  font-size: 26px;
}

.ui-messages-summary {
  display: block;
  font-weight: bold;
  padding: 0 0 .5em 0;
}


.ui-messages-success {
  color: #ffffff;
  background-color: #4CAF50;
  border-color: #4CAF50;
}

.ui-messages-info {
  color: #ffffff;
  background-color: #2196f3;
  border-color: #2196f3;
}

.ui-messages-warn {
  color: #ffffff;
  background-color: #FFB300;
  border-color: #FFB300;
}

.ui-messages-error {
  color: #ffffff;
  background-color: #f44336;
  border-color: #f44336;
}

.ui-messages .ui-growl-message {
  padding: 0 0 .25em 0;
  margin-left: 3.5em;
}

.ui-messages.ui-messages-noicon ul {
  margin: 0 1.5em 0 0;
}

.ui-messages .ui-messages-close {
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.mess-content{
  background: rgba(0,0,0,.6);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
}

.buttons{
  button{
    margin-left: 15px;
  }
}
