<div *ngIf="data">
  <div class="row">
    <bar-common-action-bar [config]="commonActionBarConfig" [object]="data" (objectSave)="save()">
    </bar-common-action-bar>
  </div>
  <div class="row">
    <ba-card baCardClass="with-scroll">
      <div class="detailcontent">
        <div class="opendetail">
          <h1 class="title">地区详情</h1>
          <table>

            <tr>
              <th>名称</th>
              <td colspan="3">
                <input [(ngModel)]="data.name" type="text">
              </td>
            </tr>
            <tr>
              <th>地区编码</th>
              <td colspan="3">
                <input [(ngModel)]="data.code" type="text">
              </td>
            </tr>
            <tr>
              <th>国家</th>
              <td colspan="3">
                <ng-select [(value)]="data.country_id" [selectfor]="'country_id'" [showname]="'name'">

                </ng-select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </ba-card>
  </div>
</div>
