<div class="pagesbutton" *ngIf="pageconfig">
  <span class="buttons">
    <button (click)="turnpage('first')" [disabled]="pageconfig.nowPage==1"><span class="iconfont icon-fanyezuo"></span></button>
    <button (click)="turnpage(-1)" [disabled]="pageconfig.nowPage==1"><span class="iconfont icon-jiantou-copy-copy"></span></button>
    <button (click)="turnpage(1)" [disabled]="pageconfig.nowPage==pageconfig.lastPage"><span class="iconfont icon-jiantou-copy"></span></button>
    <button (click)="turnpage('last')" [disabled]="pageconfig.nowPage==pageconfig.lastPage"><span class="iconfont icon-fanyeyou"></span></button>
  </span>
  <span class="info">
    第 <input type="text" (keyup)="pageInputUp($event)" value="{{pageconfig.nowPage}}"> 页；共 {{pageconfig.lastPage}} 页 {{pageconfig.total}} 条记录；当前为{{pageconfig.fromitem}}-{{pageconfig.toitem}}条记录
  </span>

</div>
