.user_search-content{
  padding-top: 100px;
}

.userselect-content{
  .treecontent{
    width: 20%;
    padding-right: 10px;
    border-right: 1px solid #eeeeee;
    height: 140px;
  }
  .usersconent{
    padding-left: 10px;
    width: 80%;
  }
  .user_search{
    margin-bottom: 10px;
  }
}

.selecteduser div {
  margin-bottom: 10px;
  span{
    display: inline-block;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid #e5e5e5;
    &:hover{
      background: #e5e5e5;
      .icon-guanbishanchu{
        display: inherit;
      }
    }
  }
  .icon-guanbishanchu{
    display: none;
  }
}

