<div class="customerselect">
  <input type="text" class="customerinput ng-form-control" (focus)="show()" value="{{customer.firstname}}"
         [disabled]="disabled">
  <span>{{customer.customer_id}}</span>
</div>

<div bsModal #dialog="bs-modal" class="modal fade customer_search-content" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="close()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">客户档案</h4>
      </div>
      <div class="modal-body">
        <div class="customer_search">
          <ng-search (searchtext)="search($event)" [(text)]="_customer.firstname"></ng-search>
        </div>
        <ag-grid-angular #selectedrow style="width: 100%; height: 300px;" class="ag-fresh"

                     [columnDefs]="columnDefs"
                     [rowData]="customers"
                     enableColResize
                     enableSorting
                     enableFilter
                     groupHeaders
                     (rowSelected)="onRowSelected($event)"

                     rowHeight="22"
                     rowSelection="multiple"
        ></ag-grid-angular>
        <pages-button [paginate]="paginate" (pageClick)="pageClick($event)"></pages-button>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="addcustomer()" [disabled]="!_customer.firstname && !isselected">确定</button>
        <button class="btn btn-primary confirm-btn" (click)="close()">取消</button>
      </div>
    </div>
  </div>
</div>

