.detailcontent{
  height: 49rem;
}
.opendetail{
  margin: 15px 0;
  width: 800px;
  min-height: 48rem;
  padding: 40px;
  background: #ffffff;
  border: 1px solid #d6d6d6;
  h1{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
}
.detailcontent table{
  width: 100%;
  border: 1px solid #999999;
  margin-bottom: 10px;
  caption{
    text-align: center;
    caption-side: top;
    color: #333333;
    font-size: 18px;
    position: relative;
    span{
      position: absolute;
      right: 0;
      font-size: 12px;
      em{
        font-size: 14px;
        font-style: normal;
        padding: 0 15px;
        border-bottom: 1px solid #d6d6d6;
        font-weight: bold;
      }
    }
  }
  tr{
    height: 25px;
    line-height: 25px;
  }
  th,td{
    border: 1px solid #999999;
    padding: 0 10px;
  }
  th{
    font-weight: bold;
  }
  .annexe{
    .iconfont{
      font-size: 2rem;
      vertical-align: middle;
    }
    td{
      padding: 5px 10px;
    }
    .download{
      cursor: pointer;
      &:hover{
        color: #000000;
      }
    }
  }
}
.detailcontent table.no-border{
  border: none;
  th,td{
    border: none;
  }
}
