.productselect-content{
  .treecontent{
    width: 20%;
    padding-right: 10px;
    border-right: 1px solid #eeeeee;
    height: 450px;
    overflow-y: scroll;
  }
  .productconent{
    padding-left: 10px;
    width: 80%;
  }
  .product_search{
    margin-bottom: 10px;
  }
}
