<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button class="close" aria-label="Close" (click)="childModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Child modal</h4>
      </div>
      <div class="modal-body">
        I am a child modal, opened from parent component!
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary confirm-btn" (click)="trueclick()">提交</button>
        <button class="btn btn-primary confirm-btn" (click)="childModal.hide()">取消</button>
      </div>
    </div>
  </div>
</div>
