<div class="row comment">
  <div class="col-md-8"><span *ngIf="commentitem.parent_id!=0">回复:</span><div [innerHTML]="commentitem.content"></div></div>
  <div class="col-md-1">{{commentitem?.user?.name}}</div>
  <div class="col-md-2">{{commentitem?.created_at}}</div>
  <div class="col-md-1"><span class="replay" (click)="replayclick(commentitem.comment_id)">回复</span></div>
  <div *ngIf="commentitem.childrens" class="col-md-12">
    <comment-item *ngFor="let item of commentitem.childrens" [commentitem]="item" (replay)="replayclick($event)"></comment-item>
  </div>
</div>

