.calender{
  position: relative;
  z-index: 99;
  .calcontent{
    position: absolute;
    top: 25px;
    left: 0;
    background: #91c7d2;
    width: 210px;
  }
}
.caltitle{
  text-align: center;
  padding: 6px 0;
  background: #19c0d2;
  select{
    height: 20px;
    border: 1px solid #e5e5e5;
  }
  .close{
    margin-right: 5px;
  }
}

.caldays,.calweek{
  span{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
}
.caldays{
  text-align: center;
  >div{
    padding: 3px 10px;
    .calprev{
      cursor: pointer;
      float: left;
    }
    .calnext{
      cursor: pointer;
      float: right;
    }
  }
  p{
    cursor: pointer;
    margin: 0;
  }
}
.calweek span{
  border: 1px solid #e5e5e5;
  cursor: pointer;
  background: #666;
  &:hover{
    background: #01b2d2;
  }
}

.calweek{
  .disable{
    cursor: not-allowed;
    background: #999;
    &:hover{
      background: #999;
    }
  }
  .highlight{
    background: red;
    color: #fff;
  }
  .selected{
    background: #d27c46;
    color: #fff;
  }
}
