<div class="row">
    <bar-common-action-bar [config]="commonActionBarConfig" [object]='procurementSupplier' (objectSave)="onSupplierSave($event)">
    </bar-common-action-bar>
</div>

<div class="row">
    <form class="form-horizontal" *ngIf="procurementSupplier">
        <ba-card baCardClass="with-scroll">
            <div class="row form-content">
                <div class="col-md-12 form-unite">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">供应商全称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.full_name" name="full_name">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">电话</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.tel" name="tel">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">传真</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.fax" name="fax">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">地址</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.add" name="add">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">结账日</label>
                                <div class="col-sm-8">
                                    <ng-calender [(value)]="procurementSupplier.closing_date" [placeholder]="'请选择时间'"></ng-calender>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">

                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">供应商简称</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.simple_name" name="simple_name">
                                </div>
                            </div>



                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">邮政编码</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.zip_code" name="zip_code">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label for="num" class="col-sm-4 ng-form-control-label">纳税登记号</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.tax_registration_no" name="tax_registration_no">
                                </div>
                            </div>
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">账期</label>
                                <div class="col-sm-8">
                                    <input type="text" class="ng-form-control"  [(ngModel)]="procurementSupplier.account_of" name="account_of">
                                </div>
                            </div>

                        </div>
                        <div class="col-md-4 col-xs-12">

                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">供应商等级</label>
                                <div class="col-sm-8">
                                    <supplier-level-select [(value)]="procurementSupplier.supplier_level_id"></supplier-level-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">供应商状态</label>
                                <div class="col-sm-8">
                                    <supplier-status-select [(value)]="procurementSupplier.supplier_status_id"></supplier-status-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">供应商评分</label>
                                <div class="col-sm-8">
                                    <supplier-rating-select [(value)]="procurementSupplier.supplier_rating_id"></supplier-rating-select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="ng-form-group row">
                                <label class="col-sm-4 ng-form-control-label">供应商程度</label>
                                <div class="col-sm-8">
                                    <supplier-degree-select [(value)]="procurementSupplier.supplier_degree_id"></supplier-degree-select>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-12 form-unite">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="ng-form-group row">
                                <label for="remark" class="col-sm-1 ng-form-control-label">备注</label>
                                <div class="col-sm-11">
                                    <textarea class="ng-form-control" id="remark" [(ngModel)]="procurementSupplier.remark" name="remark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </ba-card>
        <div class="row">
            <div class="col-md-12 col-xs-12" *ngIf="procurementSupplier">
                <ng2-tab selected="contacts"
                         selected-contents-class="animated"
                         selected-index-class="selected">
                    <div class="tabs">
                        <div index="contacts">联系人</div>
                        <div index="banks">银行账户</div>
                        <div index="pro-list">商品清单</div>
                    </div>
                    <div class="tab-contents">
                        <div contents="contacts">
                            <ag-grid-angular #costGrid style="width: 100%;  height: 140px;" class="ag-fresh"
                                [columnDefs]="ContactColumnDefs"
                                [rowData]="procurementSupplier.contacts"
                                [gridOptions]="contactGridOptions"
                                (rowSelected)="onSelectedContact($event)"
                                rowSelection="multiple"
                                >加载其他费用清单</ag-grid-angular>
                            <table></table>
                            <button (click)="addContact()">添加</button>
                            <button (click)="deleteContact()" [disabled]="!selectedContact">删除</button>
                        </div>
                        <div contents="banks">
                            <ag-grid-angular #costGrid style="width: 100%;  height: 140px;" class="ag-fresh"
                                [columnDefs]="bankColumnDefs"
                                [rowData]="procurementSupplier.banks"
                                [gridOptions]="bankGridOptions"
                                (rowSelected)="onSelectedBank($event)"
                                rowSelection="multiple"
                                >加载其他费用清单</ag-grid-angular>
                            <table></table>
                            <button (click)="addBank()">添加</button>
                            <button (click)="deleteBank()" [disabled]="!selectedBank">删除</button>
                        </div>
                        <div contents="pro-list">
                            <ag-grid-angular  #agGrid style="width: 100%; height: 180px;" class="ag-fresh"
                                (rowSelected)="onSelectedProduct($event)"
                                (cellValueChanged)="onCellValueChanged($event)"   
                                [columnDefs]="productColumnDefs"
                                [rowData]="procurementSupplier.product"
                                [gridOptions]="productGridOptions"
                                enableColResize
                                enableSorting
                                enableFilter
                                groupHeaders

                                rowHeight="22"
                                rowSelection="multiple"
                                ></ag-grid-angular>
                            <button (click)="addProduct()">添加</button>
                            <button (click)="deleteProduct()" [disabled]="!selectedProduct">删除</button>
                        </div>

                    </div>
                </ng2-tab>
            </div>
        </div>
    </form>
</div>



