<div *ngIf="data">
  <div class="row">
    <bar-common-action-bar [config]="commonActionBarConfig" [object]="data" (objectChange)="objectChange($event)">
    </bar-common-action-bar>
  </div>
  <div class="row">
    <ba-card baCardClass="with-scroll">
      <div class="detailcontent">
          <div class="opendetail">
            <h1 class="title">国家详情</h1>
            <table>

              <tr>
                <th>国家名称</th>
                <td colspan="3">{{data?.name}}</td>
              </tr>
              <tr>
                <th>ISO Code（2）</th>
                <td colspan="3">{{data?.iso_code_2}}</td>
              </tr>
              <tr>
                <th>ISO Code（3）</th>
                <td colspan="3">{{data?.iso_code_3}}</td>
              </tr>
              <tr>
                <th>地址格式</th>
                <td colspan="3">{{data?.address_format}}</td>
              </tr>
            </table>
          </div>
      </div>
    </ba-card>
  </div>
</div>
