@import '../../sass/conf/conf';
.tabs {
  position: relative;
  top: 1px;
  background: $card-bg;
  display: block;
  padding:0 15px;
  font-size: 0;
}
.tabs [index] {
  display: inline-block;
  font-size: 12px;
  border: 1px solid #999;
  padding: 5px 10px;
  border-radius: 2px 2px 0 0;
  cursor: pointer;
}
.tabs [index].selected {
  border-bottom: 1px solid transparent;
  background: #ffffff;
}
.tab-contents {
  min-height: 3em;
  padding: 10px 15px;
}
